{% extends 'base.html' %}
{% block outer_body %}

	<div class="form-box-wrapper">
		<div class="form-box">
			<h2 class="text-center">Create a buyer account</h2>
			<form method="post">
				<div class="mb-2">
					<label for="email" class="form-label">Email address</label>
					<input type="email" class="form-control" id="email">
				</div>
				<div class="mb-2">
					<label for="username" class="form-label">Username</label>
					<input type="text" class="form-control" id="username">
				</div>
				<div class="mb-2">
					<label for="first_name" class="form-label">First name</label>
					<input type="text" class="form-control" id="first_name">
				</div>
				<div class="mb-2">
					<label for="last_name" class="form-label">Last name</label>
					<input type="text" class="form-control" id="last_name">
				</div>
				<div class="mb-2">
					<label for="birth_date" class="form-label">Birth date</label>
					<input type="date" class="form-control" id="birth_date">
				</div>
				<div class="mb-2">
					<label for="password" class="form-label">Password</label>
					<input type="password" class="form-control" id="password">
				</div>
				<div class="mb-3">
					<label for="password_confirm" class="form-label">Password (again)</label>
					<input type="password" class="form-control" id="password_confirm">
				</div>
				{% if errors %}
					<ul>
						{% for error in errors %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
				{% endif %}
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
{% endblock %}