{% extends 'base.html' %}

{% block body %}
	<div class="spacer"></div>
	<div class="p-5 mb-4 bg-light rounded-3">

		<div class="container-fluid py-5">
			<h1 class="display-5 fw-bold">Welcome to Amaz!</h1>
			<p class="col-md-8 fs-4">Here, you can buy pretty much anything that can be sold. Check out all <a
							href="{{ url_for('items') }}">offers
				available</a>! </p>
			{% if not request.environ.get('user') %}
				<a class="btn btn-primary btn-lg text-white" type="button" href="{{ url_for('login') }}">Log in</a>
				<a class="btn btn-primary btn-lg text-white" type="button" href="{{ url_for('signup') }}">Sign up</a>
			{% endif %}
		</div>
	</div>

{% endblock %}