{% extends 'base.html' %}
{% block body %}
	<div style="height: 80px"></div>
	<div class="card big-item-card">
		<div class="card-body">
			<h3>{{ item.name }}</h3>
			<div>Sold by: {{ item.seller_name }}</div>
			<div>
				{% for tag in item.tags %}
					<span class="badge bg-secondary text-light">{{ tag }}</span>
				{% endfor %}
			</div>
			<div>
				<span class="price-tag">{{ item.price }} $</span>
				<span class="quantity">Available: {{ item.quantity }}</span>
			</div>
			<p>{{ item.description }}</p>
		</div>
		<a class="btn btn-primary" href="{{ url_for('buy_item', item_id=item.item_id) }}">Buy this item</a>
	</div>
	<div style="height: 40px"></div>



	<h3 class="card-title">
		Comments
	</h3>
	{% set user = request.environ['user'] %}
	{% if user %}
		{% if user['type'] == 'buyer' %}
			<form method="post">
				<div>
					<label for="comment" class="form-label">Write a new comment</label>
					<textarea class="form-control" id="comment" name="comment" required></textarea>
				</div>
				<div class="d-flex justify-content-end">
					<button type="submit" class="btn btn-primary mt-2">Submit</button>
				</div>

			</form>
		{% else %}
			<p>You need to be a buyer to write a comment</p>
		{% endif %}
	{% else %}
		<p><a href="{{ url_for('login', next=request.path) }}">Log in</a> to write a comment</p>
	{% endif %}
	{% if not comments %}
		<p>There are no comments for this item</p>

	{% else %}
		{% for comment in comments %}
			<div class="comment-box">
				<h4>{{ comment.username }}</h4>
				<p>{{ comment.content }}</p>
				<span class="comment-timestamp">{{ comment.created }}</span>
			</div>
		{% endfor %}
	{% endif %}


{% endblock %}