{% extends 'base.html' %}
<h2>Offers available:</h2>

{% block body %}
	<div style="height: 50px"></div>
	<div class="flex-between" style="margin-bottom: 16px">
		<h2>Items available</h2>
		<form class="d-flex" action="" method="GET">
			<input class="form-control" type="search" placeholder="Search by name" name="search" value="{{ request.args.get('search') }}">
			<button class="btn btn-outline-primary" type="submit">Search</button>
		</form>
	</div>
	<div class="items-container">
		{% for item in items %}
			<div class="card item-card">
				<div class="card-body">
					<a href="{{ url_for('item', item_id=item.item_id) }}"><h3>{{ item.name }}</h3></a>
					<div>
						{% for tag in item.tags %}
							<span class="badge bg-secondary text-light">{{ tag.tag }}</span>
						{% endfor %}
					</div>
					<div>
						<span class="price-tag">{{ item.price }} $</span>
						<span class="quantity">Available: {{ item.quantity }}</span>
					</div>
					<p>{{ item.description }}</p>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock body %}