{% extends 'base.html' %}
{% block outer_body %}

	<div class="form-box-wrapper">
		<div class="form-box">
			<h2 class="text-center">User log in</h2>
			<form method="post">
				<div class="mb-3">
					<label for="email" class="form-label">Email address</label>
					<input type="email" class="form-control" id="email" name="email" required>
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Password</label>
					<input type="password" class="form-control" id="password" name="password" required>
				</div>
				{% if errors %}
					<ul>
						{% for error in errors %}
							<li class="text-danger">{{ error }}</li>
						{% endfor %}
					</ul>
				{% endif %}
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
{% endblock %}